<script setup lang="ts">
import Papa from 'papaparse'
import { v4 as uuid } from 'uuid'
import { VFileInput } from 'vuetify/lib/components/index.mjs'
import type { MGComponent } from '~/stores/component'
import { useComponentStore } from '~/stores/component'

const props = defineProps({
  worksiteId: {
    type: String,
    required: true,
  },
})
const emit = defineEmits(['added'])

const componentStore = useComponentStore()

const file = ref()
const dialog = ref(false)
const loading = ref(false)
const error = ref<string[]>([])
const processFile = ref(false)
const fileInput = ref<VFileInput | null>(null)
const components = ref<MGComponent[]>([])
const selectedComponentIds = ref<string[]>([])
const headers = [
  {
    title: 'Image',
    key: 'photoUrls',
    sortable: false,
  },
  {
    title: 'Nom',
    key: 'name',
    sortable: false,
  },
]

whenever(file,
  () => {
    loadCSV()
  })

async function loadCSV() {
  if (!file.value)
    return

  processFile.value = true
  const config: Papa.ParseLocalConfig = {
    worker: true,
    error: error => console.error(error),
    dynamicTyping: true,
    complete: onParseEnd,
    skipEmptyLines: true,
  }
  try {
    Papa.parse(file.value[0], config)
  }
  catch (err) {
    processFile.value = false
    console.error(err)
    error.value.push('Echec dans la conversion du fichier')
  }
}

async function onParseEnd(result: Papa.ParseResult<string[]>) {
  try {
    components.value = result.data.map((column: string[]): MGComponent => {
      return {
        id: uuid(),
        public: false,
        worksiteId: props.worksiteId,
        name: column[0],
        category: column[1],
        quantity: column[2],
        quantityType: column[3],
        lot: column[4],
        localization: column[5],
        mater: column[6],
        exposition: column[7],
        size: column[8],
        state: column[9],
        assemblyMethod: column[10],
        recoveryMethod: column[11],
        comment: column[12],
        usageComment: column[13],
        photoUrls: [column?.[14], column?.[16], column?.[18]].filter(url => url),
      }
    })

    file.value = null
  }
  catch (err) {
    console.error(err)
    error.value.push('Echec de la sauvegarde dans la base de donnée')
  }
  finally {
    processFile.value = false
  }
}

async function addComponents() {
  try {
    loading.value = true
    const selectedComponents
      = components.value
        .filter(component => selectedComponentIds.value.includes(component.id))

    await componentStore.saveComponents(selectedComponents)
    emit('added')
  }
  catch (err) {
    console.error(err)
  }
  finally {
    loading.value = false
    resetModal()
  }
}

function resetModal() {
  error.value = []
  file.value = null
  components.value = []
  selectedComponentIds.value = []
  fileInput.value?.reset()
  dialog.value = false
}
</script>

<template>
  <v-dialog
    v-model="dialog"
    width="auto"
    class="text-center"
  >
    <template #activator="{ props: btnActivator }">
      <div class="text-center">
        <v-btn color="primary" v-bind="btnActivator">
          Charger des composents
        </v-btn>
      </div>
    </template>

    <v-card :loading="loading">
      <v-card-title class="text-h5">
        Ajout des composants
      </v-card-title>

      <v-card-text>
        <VFileInput
          v-if="!components.length"
          ref="fileInput"
          v-model="file"
          :loading="processFile"
          accept=".csv,.tsv"
          label="File input"
          :error-messages="error"
          @click:clear="file = null"
        />
        <v-data-table
          v-else
          v-model="selectedComponentIds"
          :items-per-page="-1"
          :headers="headers"
          :items="components"
          density="compact"
          show-select
        >
          <template #[`item.photoUrls`]="{ item }">
            <v-row class="m-0">
              <v-img
                :key="item.raw.id"
                :src="item.raw.photoUrls[0]"
                width="50"
                height="50"
                contain
              />
            </v-row>
          </template>

          <template #bottom />
        </v-data-table>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="resetModal"
        >
          Annuler
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="addComponents"
        >
          Ajouter
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
