<script lang="ts" setup>
const wishlistStore = useWishlistStore()
const componentStore = useComponentStore()

onMounted(async () => {
  try {
    await componentStore.fetchComponents()
  }
  catch (err) {
    console.error(err)
  }
})
</script>

<template>
  <v-container class="fill-height">
    <v-row class="fill-height">
      <v-col
        v-for="item in componentStore._components" :key="item.name"
        :cols="3"
      >
        <v-card>
          <v-img v-if="item.photoUrls.length === 1" height="300" :src="item.photoUrls[0]" cover>
            <v-row class="m-0">
              <v-col cols="12" class="">
                <v-chip class="bg-primary uppercase">
                  {{ item.category }}
                </v-chip>
              </v-col>
            </v-row>
          </v-img>
          <v-carousel v-else height="300" :show-arrows="false" cycle hide-delimiters>
            <v-carousel-item
              v-for="photoUrl in item.photoUrls"
              :key="photoUrl"
              cover
              height="300"
              :src="photoUrl"
            >
              <v-row class="m-0">
                <v-col cols="12">
                  <v-chip elevated plain class="bg-primary uppercase">
                    {{ item.category }}
                  </v-chip>
                </v-col>
              </v-row>
            </v-carousel-item>
          </v-carousel>
          <v-card-title>
            {{ item.name }}
            <p class="d-flex items-center justify-between text-sm">
              {{ item.quantity }} {{ item.quantityType }}<br>
              <v-chip density="compact" class="bg-primary white--text">
                {{ item.state }}
              </v-chip>
            </p>
          </v-card-title>
          <v-card-text class="min-h-[100px]">
            <p v-if="item.mater">
              <v-icon start icon="mdi-cube-outline" aria-label="matière" />{{ item.mater }}
            </p>
            <p v-if="item.size">
              <v-icon start icon="mdi-arrow-all" aria-label="taille" />{{ item.size }}<br>
            </p>
            <p v-if="item.comment">
              <v-icon start icon="mdi-comment" aria-label="commentaire" />{{ item.comment }}<br>
            </p>
          </v-card-text>
          <v-card-actions>
            <v-btn v-if="wishlistStore.wishlistItem.some(c => c.component.id === item.id)" color="warning" variant="text" prepend-icon="mdi-playlist-minus" @click="wishlistStore.removeItem(item.id)">
              Retirer
            </v-btn>
            <v-btn v-else color="primary" prepend-icon="mdi-playlist-plus" @click="wishlistStore.addItem(item)">
              Ajouter
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
