<script setup lang="ts">
import draggable from 'vuedraggable'

const loading = ref(false)
const isValidForm = ref(false)
const userInfoForm = ref<HTMLFormElement | null>(null)
const wishlistStore = useWishlistStore()

const validationRules = {
  firstname: [
    (v: string) => !!v || 'Le prénom est requis',
  ],
  lastname: [
    (v: string) => !!v || 'Le nom est requis',
  ],
  city: [
    (v: string) => !!v || 'La commune est requise',
  ],
  email: [
    (v: string) => !!v || 'L\'email est requis',
    (v: string) => /.+@.+\..+/.test(v) || 'L\'email doit être valide',
  ],
}

async function validateWishlist() {
  try {
    loading.value = true
    const availableItems = await wishlistStore.filterAvailableItems(wishlistStore.sortedItems)

    if (availableItems.length !== wishlistStore.sortedItems.length) {
      alert('Certains composants ne sont plus disponibles et ont été retirés de votre liste')
      wishlistStore.updateItems(availableItems)
    }

    await wishlistStore.saveWishlist()
    alert('Votre demande à correctement été envoyé')
    wishlistStore.cleanItems()
  }
  catch (err) {
    console.error(err)
    alert('Une erreur est survenue')
  }
  finally {
    loading.value = false
  }
}
</script>

<template>
  <v-container>
    <v-card>
      <v-toolbar>
        <v-toolbar-title>
          Liste de souhait
        </v-toolbar-title>
      </v-toolbar>
      <v-list v-if="wishlistStore.wishlistItem.length > 0" lines="two" density="comfortable">
        <v-list-subheader>
          <b>Ordaginisez les matèriaux par ordre de priorité</b>
        </v-list-subheader>
        <draggable v-model="wishlistStore.sortedItems" item-key="component.id">
          <template #item="{ element, index }">
            <div>
              <v-list-item style="cursor: grab;">
                <template #prepend>
                  <v-avatar color="grey-lighten-1">
                    <v-img :src="element.component.photoUrls[0]" />
                  </v-avatar>
                </template>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ element.component.name }}
                    <v-chip density="compact">
                      {{ element.component.state }}
                    </v-chip>
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    Dimensions: {{ element.component.size }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <template #append>
                  <v-row class="items-center justify-center" dense>
                    <v-btn density="compact" icon variant="flat" @click="() => { element.quantity > 0 ? element.quantity-- : '' }">
                      <v-icon icon="mdi-minus" />
                    </v-btn>
                    <v-text-field
                      v-model="element.quantity"
                      variant="outlined"
                      density="compact"
                      label="Quantité"
                      hide-details
                      class="w-20"
                    />
                    <v-btn icon variant="flat" density="compact" @click="() => element.quantity < element.component.quantity ? element.quantity++ : ''">
                      <v-icon icon="mdi-plus" />
                    </v-btn>
                    <v-btn flat @click="wishlistStore.removeItem(element.component.id)">
                      <v-icon color="error">
                        mdi-delete
                      </v-icon>
                    </v-btn>
                    <v-col cols="12" class="text-caption pa-0 text-center">
                      {{ element.component.quantity }} de disponible
                    </v-col>
                  </v-row>
                </template>
              </v-list-item>
              <v-divider v-if="index < (wishlistStore.sortedItems.length - 1)" inset thickness="2" />
            </div>
          </template>
        </draggable>
      </v-list>
      <v-card-text v-else class="text-center">
        <h3 class="text-h5 mb-2">
          Votre liste de souhait est vide
        </h3>
        <v-btn to="/shop" variant="outlined" color="primary">
          Ajouter des composants
        </v-btn>
      </v-card-text>
      <v-card-text>
        <p class="font-weight-bold text-h6">
          Renseignements
        </p>
        <v-form ref="userInfoForm" v-model="isValidForm" :disabled="!wishlistStore.wishlistItem?.length" class="text-center" @submit.prevent>
          <!-- User information -->
          <v-text-field v-model="wishlistStore.wishlistInfo.lastname" :rules="validationRules.lastname" variant="outlined" label="Nom" required />
          <v-text-field v-model="wishlistStore.wishlistInfo.firstname" :rules="validationRules.firstname" variant="outlined" label="Prénom" required />
          <v-text-field v-model="wishlistStore.wishlistInfo.city" :rules="validationRules.city" variant="outlined" label="Commune" required />
          <v-text-field v-model="wishlistStore.wishlistInfo.email" :rules="validationRules.email" variant="outlined" label="Email" required />
          <v-text-field v-model="wishlistStore.wishlistInfo.phone" variant="outlined" label="Téléphone" />
          <v-textarea v-model="wishlistStore.wishlistInfo.usage" variant="outlined" label="Projet réalisé" />
          <v-btn type="submit" size="large" color="success" :disabled="!isValidForm" @click="validateWishlist">
            Valider
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>
