<script setup lang="ts">
</script>

<template>
  <v-navigation-drawer :model-value="true" permanent>
    <v-list>
      <v-list-item title="Dashboard" prepend-icon="mdi-view-dashboard" value="/admin" to="/admin" />
      <v-list-item title="Chantiers" prepend-icon="mdi-account-hard-hat" value="admin/worksite/" to="/admin/worksite" />
      <v-divider inset />
    </v-list>
  </v-navigation-drawer>
</template>
