<script setup lang="ts">
import { useWorksiteStore } from '~/stores/admin/worksite'

const router = useRouter()
const worksiteStore = useWorksiteStore()

const worksiteFormRule = {
  name: [
    (v: string) => !!v || 'Le nom est requis',
  ],
  reference: [
    (v: string) => !!v || 'La référence est requise',
  ],
  requestEndDate: [
    (v: string) => {
      if (!v)
        return true
      return /^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test(v) || 'La date doit être au format aaaa/mm/jj'
    },
  ],
  recoveryStartDate: [
    (v: string) => {
      if (!v)
        return true
      return /^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test(v) || 'La date doit être au format aaaa/mm/jj'
    },
  ],
  recoveryEndDate: [
    (v?: string) => {
      if (!v)
        return true
      return /^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test(v) || 'La date doit être au format aaaa/mm/jj'
    },
  ],
  address: [],
  supervisor: [],
  contact: [],
  publicComment: [],
  internalComment: [],
}

const worksite = ref({
  name: '',
  reference: '',
  address: '',
  supervisor: '',
  contact: '',
  publicComment: '',
  internalComment: '',
  requestEndDate: '',
  recoveryEndDate: '',
  recoveryStartDate: '',
})

const loading = ref(false)

async function createWorksite() {
  loading.value = true
  try {
    const id = await worksiteStore.createWorksite(worksite.value)
    if (!id)
      throw new Error('Impossible de créer le chantier')
    router.push(`/admin/worksite/${id}`)
  }
  catch (error) {
    alert('Une erreur est survenue lors de la création du chantier')
    console.error(error)
  }
  finally {
    loading.value = false
  }
}
</script>

<template>
  <v-card class="h-100" density="compact">
    <v-card-text>
      <v-form @submit.prevent>
        <v-text-field
          v-model="worksite.name" required :rules="worksiteFormRule.name" density="compact" variant="outlined"
          label="Nom"
        />
        <v-text-field
          v-model="worksite.reference" required :rules="worksiteFormRule.reference" density="compact"
          variant="outlined" label="Référence"
        />
        <v-text-field v-model="worksite.address" density="compact" variant="outlined" label="Adresse" />
        <v-text-field v-model="worksite.supervisor" density="compact" variant="outlined" label="Maîtrise d'ouvrage" />
        <v-text-field v-model="worksite.contact" density="compact" variant="outlined" label="Contact référent" />

        <v-text-field
          v-model="worksite.requestEndDate" :rules="worksiteFormRule.requestEndDate" density="compact"
          variant="outlined" label="Date de fin des demandes" placeholder="aaaa/mm/jj"
        />
        <v-text-field
          v-model="worksite.recoveryStartDate" :rules="worksiteFormRule.recoveryStartDate" density="compact"
          variant="outlined" label="Date début de la récupération" placeholder="aaaa/mm/jj"
        />
        <v-text-field
          v-model="worksite.recoveryEndDate" :rules="worksiteFormRule.recoveryEndDate" density="compact"
          variant="outlined" label="Date fin de la récupération" placeholder="aaaa/mm/jj"
        />

        <v-textarea v-model="worksite.internalComment" density="compact" variant="outlined" label="Commentaire interne" />
        <v-textarea v-model="worksite.publicComment" density="compact" variant="outlined" label="Commentaire publique" />
        <div class="d-flex justify-end">
          <v-btn type="submit" size="large" text="Créer" color="primary" @click="createWorksite" />
        </div>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<route lang="yaml">
meta:
  layout: admin
name: Nouveau chantier
</route>
