<script setup lang="ts">
import { useWorksiteStore } from '~/stores/admin/worksite'

const worksiteStore = useWorksiteStore()

onMounted(async () => {
  await worksiteStore.getAllWorksites()
})

const worksiteListHeaders: DataTableHeader = [
  {
    title: 'Nom',
    key: 'name',
  }, {
    title: 'Référence',
    key: 'reference',
    sortable: false,
  }, {
    title: 'Date début de la récupération',
    key: 'startDate',
  }, {
    title: 'Date fin de la récupération',
    key: 'endDate',
  }, {
    title: 'Maîtrise d\'ouvrage',
    key: 'supervisor',
  }, {
    title: 'Contact',
    key: 'contact',
  }, {
    title: 'Options',
    key: 'options',
    align: 'center',
    sortable: false,
  },
]
</script>

<template>
  <v-card class="h-100 pt-2">
    <v-card-title class="d-flex">
      <h3>Liste</h3>
      <v-spacer />
      <v-btn color="primary" to="/admin/worksite/create">
        <v-icon>mdi-plus</v-icon>
        <span class="ml-2">Nouveau</span>
      </v-btn>
    </v-card-title>

    <v-divider />

    <v-card-text>
      <v-data-table :headers="worksiteListHeaders" :items="worksiteStore.worksites" class="border rounded-md">
        <template #[`item.options`]="{ item }">
          <v-row justify="center">
            <v-btn variant="text" size="small" icon color="primary" :to="`/admin/worksite/${item.raw.id}`">
              <v-icon>mdi-file-edit</v-icon>
            </v-btn>
          </v-row>
        </template>
        <template #bottom />
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<route lang="yaml">
meta:
  layout: admin
name: Chantiers
</route>
