<script setup lang="ts">
import { useWorksiteStore } from '~/stores/admin/worksite'

const worksiteStore = useWorksiteStore()
const wishlistStore = useWishlistStore()

const loadingRequest = ref(false)
const requests = ref<any>([])
const displayDrawer = computed(() => {
  return !!worksiteStore.worksiteSelectedComponentId
})

function hideDrawer() {
  worksiteStore.worksiteSelectedComponentId = null
}

whenever(
  () => worksiteStore.worksiteSelectedComponentId,
  async () => {
    if (!worksiteStore.worksiteSelectedComponentId)
      return
    loadingRequest.value = true
    requests.value = await wishlistStore.getWishByComponentId(worksiteStore.worksiteSelectedComponentId)
    loadingRequest.value = false
  },
)
</script>

<template>
  <v-navigation-drawer :model-value="displayDrawer" location="right" width="400" @update:model-value="hideDrawer">
    <v-toolbar color="primary" density="compact">
      <v-btn icon variant="plain" @click="hideDrawer">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Requettes composant</v-toolbar-title>
    </v-toolbar>

    <v-row v-if="!loadingRequest" justify="center" class="mt-3">
      <v-col cols="11">
        <v-card v-for="request in requests" :key="request.id">
          <v-card-title class="d-flex">
            {{ request.wishlist_id.firstname }} {{ request.wishlist_id.lastname }}
            <v-spacer />
            {{ request.wishlist_id.city }}
          </v-card-title>

          <v-divider />

          <v-card-text>
            <p>
              <v-icon>mdi-order-numeric-ascending</v-icon>
              Priorité: {{ request.priority }}
            </p>
            <p>
              <v-icon>mdi-counter</v-icon>
              Quantité: {{ request.quantity }}
            </p>
            <p class="mt-3 text-right font-100">
              Le {{ new Date(request.wishlist_id.created_at).toLocaleDateString('fr-FR') }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-else class="fill-height" justify="center" align-content="center">
      <v-progress-circular indeterminate color="primary" />
    </v-row>
  </v-navigation-drawer>
</template>
