<script setup lang="ts">
import type { RequestTableComponentHeader, RequestTableData, RequestTableUserHeader } from '~/stores/admin/worksite'

defineProps({
  userHeader: {
    type: Array as PropType<RequestTableUserHeader[]> | null,
    required: true,
    default: () => [],
  },
  componentHeader: {
    type: Array as PropType<RequestTableComponentHeader[]>,
    required: true,
    default: () => [],
  },
  requestData: {
    type: [] as PropType<RequestTableData[][]> | null,
    required: true,
    default: () => [[]],
  },
})
</script>

<template>
  <table v-if="requestData" height="700" class="border-collapse">
    <col>
    <colgroup v-for="(_, idx) in userHeader" :key="idx" span="2" />
    <col>
    <tr>
      <th style="width: 20%">
        Prénom
      </th>
      <th v-for="req of userHeader" :key="req.id" colspan="2" scope="colgroup">
        {{ req.firstname }}
      </th>
      <th colspan="2" scope="colgroup" />
    </tr>
    <tr>
      <th style="width: 20%">
        Nom
      </th>
      <th v-for="req of userHeader" :key="req.id" colspan="2" scope="colgroup">
        {{ req.lastname }}
      </th>
      <th colspan="2" scope="colgroup" />
    </tr>
    <tr>
      <th style="width: 20%">
        Ville
      </th>
      <th v-for="req of userHeader" :key="req.id" colspan="2" scope="colgroup">
        {{ req.city }}
      </th>
      <th colspan="2" scope="colgroup" />
    </tr>
    <tr>
      <th style="width: 20%">
        Email
      </th>
      <th v-for="req of userHeader" :key="req.id" colspan="2" scope="colgroup">
        {{ req.email }}
      </th>
      <th colspan="2" scope="colgroup" />
    </tr>
    <tr>
      <th style="width: 20%">
        Téléphone
      </th>
      <th v-for="req of userHeader" :key="req.id" colspan="2" scope="colgroup">
        {{ req.phone || '-' }}
      </th>
      <th colspan="2" scope="colgroup" />
    </tr>
    <tr class="border-b-2 border-black">
      <th style="width: 20%">
        Projet
      </th>
      <th v-for="req of userHeader" :key="req.id" colspan="2" scope="colgroup">
        {{ req.comment || '-' }}
      </th>
      <th colspan="2" scope="colgroup" />
    </tr>
    <tr>
      <th>Composants</th>
      <template v-for="_ in userHeader" :key="_">
        <th scope="col">
          Quantité
        </th>
        <th scope="col">
          Priorité
        </th>
      </template>
      <th scope="col">
        Disponible
      </th>
      <th scope="col">
        Total
      </th>
    </tr>
    <tr v-for="(component, cIdx) in componentHeader" :key="component.id" class="border-b">
      <td class="px-1 text-right">
        {{ component.name }}
      </td>
      <template v-for="(_, rIdx) in userHeader" :key="`${component.id}-${rIdx}`">
        <td class="text-center">
          {{ requestData[cIdx][rIdx].quantity || '-' }}
        </td>
        <td class="text-center">
          {{ requestData[cIdx][rIdx].priority || '-' }}
        </td>
      </template>
      <td class="text-center">
        {{ component.availableQuantity || 0 }}
      </td>
      <td class="text-center">
        {{ component.totalRequestedQuantity || 0 }}
      </td>
    </tr>
  </table>
  <div v-else>
    No requests
  </div>
</template>

<style lang="scss">
table th+th {
  border-left: 1px solid #dddddd;
}

table td+td {
  border-left: 1px solid #dddddd;
}

table {
  border-collapse: separate;

  thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;

    tr {
      th:first-of-type {
        left: 0;
        position: sticky;
        background-color: white;
      }

      th {
        text-align: center !important
      }
    }
  }

  tbody {
    overflow: auto;

    tr td:first-child {
      position: sticky;
      left: 0;
      width: 300px;
      z-index: 1;
      background-color: white;
    }
  }
}
</style>
