<script setup lang="ts">
import { useWorksiteStore } from '~/stores/admin/worksite'

const route = useRoute()
const router = useRouter()
const worksiteStore = useWorksiteStore()

const worksiteFormRule = {
  name: [
    (v: string) => !!v || 'Le nom est requis',
  ],
  reference: [
    (v: string) => !!v || 'La référence est requise',
  ],
  requestEndDate: [
    (v: string) => {
      if (!v)
        return true
      return /^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test(v) || 'La date doit être au format aaaa/mm/jj'
    },
  ],
  recoveryStartDate: [
    (v: string) => {
      if (!v)
        return true
      return /^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test(v) || 'La date doit être au format aaaa/mm/jj'
    },
  ],
  recoveryEndDate: [
    (v?: string) => {
      if (!v)
        return true
      return /^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test(v) || 'La date doit être au format aaaa/mm/jj'
    },
  ],
  address: [],
  supervisor: [],
  contact: [],
  publicComment: [],
  internalComment: [],
}

const worksite = ref({
  name: '',
  reference: '',
  address: '',
  supervisor: '',
  contact: '',
  publicComment: '',
  internalComment: '',
  requestEndDate: '',
  recoveryEndDate: '',
  recoveryStartDate: '',
})
const loading = ref(false)
const worksiteId = computed(() => route.params.id as string)

async function updateWorksite() {
  loading.value = true
  try {
    await worksiteStore.updateWorksite(worksiteId.value, worksite.value)
    router.push(`/admin/worksite/${worksiteId.value}`)
  }
  catch (error) {
    alert('Une erreur est survenue lors de la mise à jour du chantier')
    console.error(error)
  }
  finally {
    loading.value = false
  }
}

async function fetchWorksite() {
  if (worksiteId.value)
    router.push('/admin/worksite')
  await worksiteStore.getWorksiteById(worksiteId.value)
}

onMounted(async () => {
  loading.value = true
  if (worksiteStore.currentWorksite === null)
    await fetchWorksite()

  worksite.value = {
    address: worksiteStore.currentWorksite?.address || '',
    contact: worksiteStore.currentWorksite?.contact || '',
    internalComment: worksiteStore.currentWorksite?.internalComment || '',
    name: worksiteStore.currentWorksite?.name || '',
    publicComment: worksiteStore.currentWorksite?.publicComment || '',
    reference: worksiteStore.currentWorksite?.reference || '',
    recoveryEndDate: worksiteStore.currentWorksite?.recoveryEndDate || '',
    recoveryStartDate: worksiteStore.currentWorksite?.recoveryStartDate || '',
    requestEndDate: worksiteStore.currentWorksite?.requestEndDate || '',
    supervisor: worksiteStore.currentWorksite?.supervisor || '',
  }
  loading.value = false
})
</script>

<template>
  <v-card class="h-100" density="compact">
    <v-card-text>
      <v-form @submit.prevent>
        <v-text-field
          v-model="worksite.name" required :rules="worksiteFormRule.name" density="compact" variant="outlined"
          label="Nom"
        />
        <v-text-field
          v-model="worksite.reference" required readonly :rules="worksiteFormRule.reference" density="compact"
          variant="outlined" label="Référence"
        />
        <v-text-field v-model="worksite.address" density="compact" variant="outlined" label="Adresse" />
        <v-text-field v-model="worksite.supervisor" density="compact" variant="outlined" label="Maîtrise d'ouvrage" />
        <v-text-field v-model="worksite.contact" density="compact" variant="outlined" label="Contact référent" />

        <v-text-field
          v-model="worksite.requestEndDate" :rules="worksiteFormRule.requestEndDate" density="compact"
          variant="outlined" label="Date de fin des demandes" placeholder="aaaa/mm/jj"
        />
        <v-text-field
          v-model="worksite.recoveryStartDate" :rules="worksiteFormRule.recoveryStartDate" density="compact"
          variant="outlined" label="Date début de la récupération" placeholder="aaaa/mm/jj"
        />
        <v-text-field
          v-model="worksite.recoveryEndDate" :rules="worksiteFormRule.recoveryEndDate" density="compact"
          variant="outlined" label="Date fin de la récupération" placeholder="aaaa/mm/jj"
        />

        <v-textarea v-model="worksite.internalComment" density="compact" variant="outlined" label="Commentaire interne" />
        <v-textarea v-model="worksite.publicComment" density="compact" variant="outlined" label="Commentaire publique" />
        <div class="d-flex justify-end">
          <v-btn type="submit" size="large" text="Modifier" color="primary" @click="updateWorksite" />
        </div>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<route lang="yaml">
meta:
  layout: admin
name: Éditer le chantier
</route>
