<script setup lang="ts">
import { Printd } from 'printd'

import { convertTable } from '~/services/request-to-xls'
import { useWorksiteStore } from '~/stores/admin/worksite'
import type { MGComponent } from '~/stores/component'
import type { RequestTableComponentHeader, RequestTableData, RequestTableUserHeader } from '~/stores/admin/worksite'
import RequestTable from '~/components/worksite/RequestTable.vue'

interface IRequestTable {
  requestData: RequestTableData[][] | null
  userHeader: RequestTableUserHeader[] | null
  componentHeader: RequestTableComponentHeader[] | null
}

const route = useRoute()
const router = useRouter()
const worksiteStore = useWorksiteStore()

const printer = new Printd()
const loadingWorksite = ref(false)
const dataTable = ref<IRequestTable>({
  requestData: null,
  userHeader: null,
  componentHeader: null,
})
const tab = ref(null)
const worksiteId = computed(() => route.params.id as string)
const worksite = computed(() => worksiteStore.currentWorksite)

async function convertRequestData() {
  const res = await worksiteStore.generateRepartitionExport()
  dataTable.value = {
    userHeader: res?.userHeader as RequestTableUserHeader[] || null,
    requestData: res?.repartition as RequestTableData[][] || null,
    componentHeader: res?.componentsHeader || null,
  } as IRequestTable
}

const componentListHeaders = [{
  title: 'Image',
  key: 'image_ids',
  sortable: false,
  width: '50px',
}, {
  title: 'Nom',
  key: 'name',
  sortable: false,
},
{
  title: 'Visible',
  key: 'public',
  sortable: false,
  width: '70px',
}]

function selectComponent(component: MGComponent) {
  worksiteStore.worksiteSelectedComponentId = component.id
}

async function toggleComponentVisibility(component: MGComponent) {
  await worksiteStore.setComponentVisibility(component.id, !component.public)
}

async function printDiagnosticResource() {
  const worksiteUrl = route.fullPath
  printer.printURL(`${worksiteUrl}/list-component`, ({ launchPrint }) => {
    setTimeout(() => {
      return Promise.resolve(launchPrint())
    }, 1500)
  })
}

async function exportRequestData() {
  const virtualElement = document.createElement('div')
  const app = createApp(RequestTable, { ...dataTable.value })
  app.mount(virtualElement).$nextTick(() => {
    const htmlTable = virtualElement.querySelector('table')
    if (htmlTable === null)
      return alert('Failed to generate table component')
    convertTable(htmlTable)
    app.unmount()
    virtualElement.remove()
  })
}

async function fetchWorksite() {
  loadingWorksite.value = true
  await worksiteStore.getWorksiteById(worksiteId.value)
  await convertRequestData()
  loadingWorksite.value = false
}

async function deleteWorksite() {
  const response = confirm('Êtes-vous sûr de vouloir supprimer ce chantier ?')
  if (!response)
    return
  await worksiteStore.deleteWorksite(worksiteId.value)
  await router.push('/admin/worksite')
}

whenever(worksiteId, async () => {
  await fetchWorksite()
}, { immediate: true })
</script>

<template>
  <v-card v-if="worksite" :loading="loadingWorksite" class="fill-height">
    <v-card-title class="d-flex bg-primary items-center">
      <h3 class="text-h5">
        {{ worksite?.name }} ({{ worksite?.reference }})
      </h3>
      <v-spacer />
      <span>
        <v-switch
          :model-value="worksite.published" label="En ligne" color="secondary" hide-details density="compact"
          @update:model-value="async () => await worksiteStore.toggleWorksiteVisibility()"
        />
      </span>
      <v-menu location="bottom right">
        <template #activator="{ props }">
          <v-btn variant="text" icon="mdi-dots-vertical" class="ml-2" v-bind="props" />
        </template>

        <v-list>
          <v-list-item :to="`${worksiteId}/edit`">
            <v-list-item-title>Éditer</v-list-item-title>
          </v-list-item>
          <v-list-item @click="exportRequestData">
            <v-list-item-title>Exporter les demandes</v-list-item-title>
          </v-list-item>
          <v-list-item @click="printDiagnosticResource">
            <v-list-item-title>Imprimer le diagnostic</v-list-item-title>
          </v-list-item>
          <v-divider color="#000" thickness="2" />
          <v-list-item class="hover:bg-red-400 hover:text-white" @click="deleteWorksite()">
            <v-list-item-title>
              Supprimer
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-card-title>

    <v-divider />

    <v-tabs v-model="tab" fixed-tabs>
      <v-tab>Informations</v-tab>
      <v-tab>Composants ({{ worksite.components?.length || 0 }})</v-tab>
      <v-tab>Demandes</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="0">
          <v-row>
            <v-col cols="4">
              Date limite des demandes : {{ worksite.requestEndDate || 'Non renseigné' }}
            </v-col>
            <v-col cols="4">
              Début de la récupération : {{ worksite?.recoveryStartDate || 'Non renseigné' }}
            </v-col>
            <v-col cols="4">
              Fin de la récupération : {{ worksite?.recoveryEndDate || 'Non renseigné' }}
            </v-col>
            <v-col cols="12">
              Adresse : {{ worksite?.address || 'Non renseigné' }}
            </v-col>
            <v-col cols="6">
              Maîtrise d'ouvrage : {{ worksite?.supervisor || 'Non renseigné' }}
            </v-col>
            <v-col cols="6">
              Contact : {{ worksite?.contact || 'Non renseigné' }}
            </v-col>
            <v-col v-if="worksite.publicComment" cols="12">
              Commentaire public : {{ worksite?.publicComment }}
            </v-col>
            <v-col v-if="worksite.internalComment" cols="12">
              Commentaire interne : {{ worksite?.internalComment }}
            </v-col>
          </v-row>
        </v-window-item>

        <v-window-item value="1">
          <h4 class="d-flex justify-space-between text-h6 mb-2">
            Liste des composants <import-modal :worksite-id="worksiteId" @added="fetchWorksite" />
          </h4>

          <div v-if="worksite?.components?.length">
            <v-data-table
              :headers="componentListHeaders" :items="worksite?.components" fixed-header fixed-footer
              height="630" @click:row="(_, row) => selectComponent(row.item.raw)"
            >
              <template #[`item.image_ids`]="{ item }">
                <v-img :src="item.raw?.image_ids[0]" cover class="h-24 w-full" />
              </template>

              <template #[`item.public`]="{ item }">
                <v-switch
                  :model-value="item.raw?.public" color="primary" hide-details @click.stop=""
                  @update:model-value="async (_: any) => await toggleComponentVisibility(item.raw)"
                />
              </template>
            </v-data-table>
          </div>
          <div v-else class="text-center">
            <p class="text-h6 my-4">
              Aucun composant
            </p>
          </div>
        </v-window-item>

        <v-window-item value="2">
          <RequestTable
            :request-data="dataTable.requestData as RequestTableData[][]"
            :user-header="dataTable.userHeader as RequestTableUserHeader[]"
            :component-header="dataTable.componentHeader as RequestTableComponentHeader[]"
          />
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<route lang="yaml">
meta:
  layout: admin
name: Fiche chantier
</route>
