<script setup lang="ts">
const route = useRoute()
const worksiteId = computed(() => route.params.id as string)
const ComponentStore = useComponentStore()

async function fetchComponents() {
  await ComponentStore.fetchWorksiteComponents(worksiteId.value)
}
const components = computed(() => ComponentStore._worksiteComponents)

whenever(worksiteId, async () => {
  await fetchComponents()
}, { immediate: true })
</script>

<template>
  <v-table v-if="components.length > 0" class="component-list" fixed-header>
    <thead>
      <tr>
        <th>Composant</th>
        <th>Catégorie</th>
        <th>Localisation</th>
        <th>Lot</th>
        <th>Matière</th>
        <th>Photos</th>
        <th>Qté</th>
        <th>Unité</th>
        <th>Dimensions</th>
        <th>Exposition</th>
        <th>Etat</th>
        <th>Assemblage</th>
        <th>Usage</th>
        <th>Observation dépose</th>
        <th>Commentaire</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr
        v-for="item in components"
        :key="item.name"
      >
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.localization || '---' }}</td>
        <td>{{ item.lot || '---' }}</td>
        <td>{{ item.mater || '---' }}</td>
        <td>
          <v-img
            v-for="photoUrl in item.photoUrls"
            :key="photoUrl"
            :src="photoUrl"
            width="100"
            height="100"
            contain
            eager
          />
        </td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.quantityType }}</td>
        <td>{{ item.size || '---' }}</td>
        <td>{{ item.exposition || '---' }}</td>
        <td>{{ item.state || '---' }}</td>
        <td>{{ item.assemblyMethod || '---' }}</td>
        <td>{{ item.usageComment || '---' }}</td>
        <td>{{ item.recoveryMethod || '---' }}</td>
        <td>{{ item.comment || '---' }}</td>
      </tr>
    </tbody>
  </v-table>
  <v-row v-else class="h-50" justify="center" align="center">
    <v-col cols="auto">
      <p class="text-h5 mb-2 text-center">
        Il n'y a pas de composant
      </p>
    </v-col>
  </v-row>
</template>

<style>
.v-table.component-list > .v-table__wrapper > table > thead > tr > th {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
}
</style>

<route lang="yaml">
meta:
  layout: print
  name: Diagnostic ressource
</route>
