<script setup lang="ts">
const route = useRoute()
</script>

<template>
  <v-app>
    <NavigationDrawer />
    <v-main>
      <v-container class="h-100">
        <div class="mx-auto" style="max-width: 1200px;">
          <div class="my-3">
            <h2 class="text-h4">
              {{ route.name }}
            </h2>
          </div>
          <v-row style="height: calc(100vh - 74px)">
            <v-col cols="12">
              <router-view />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-main>
    <RequestDrawer />
  </v-app>
</template>
