<script setup lang="ts">
import { useRoute } from 'vue-router'

const route = useRoute()
</script>

<template>
  <v-app>
    <v-app-bar app flat color="primary">
      <v-toolbar-title>
        <v-btn v-if="route.path !== '/shop'" icon variant="text" to="/shop" :active="false" class="ml-2">
          <v-icon>mdi-store</v-icon>
        </v-btn>
        Catalogue matière grise
      </v-toolbar-title>
      <v-spacer />
      <v-btn variant="outlined" to="wishlist" :active="false" prepend-icon="mdi-list-box">
        Ma liste
      </v-btn>
    </v-app-bar>
    <v-main>
      <RouterView />
    </v-main>
  </v-app>
</template>
